html{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
    font-family: 'Poppins', sans-serif;
}

.limitador{
    height: 0.9vh;
    background-color: #800020;
    border: 0.9vh solid rgb(255,174,0);
}

.nombre{
    height: 14.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 2.4vh;
}

.nombre img{
    height: 13vh;
}

.historia{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.historia,
.preguntas{
    font-size: 2.5vh;
}

.preguntas{
    width: 80%;
    margin-bottom: 5vh;
}

.preguntas details{
    border-bottom: solid 0.1vh white;
}

.preguntas summary{
    height: 6vh;
    background-color: #800020;
    color: white;
    justify-content: center;
    align-content: center;
}

.preguntas span{
    font-weight: bold;
}


.lol{
    height: 35vh;
}