.visiones{
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.vision{
    margin: 3vw;
}

.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.redes a{
    text-decoration: none;
    color: black;
    margin: 0.2vw;
}

.redes img{
    width: 3.3vw;
}